/**
 * Ubiquity Drupal theme
 * constructed by Attila Beregszaszi (http://templates.m42.hu/)
 */

body {
  background: #fff;
}

h1, p {
  font-family: 'Lucida Sans Unicode', Lucida Grande, sans-serif;
}

h1 {font-size: 140%; margin-top: 16px;}
p {font-size: 84%;}

#content {
	width: 60%;
	margin: 0 auto;
	padding-left: 200px;
	height: 100px;
	background: url('logo-hu.png') no-repeat top left;
}
