/**
 * Ubiquity Drupal theme
 * constructed by Attila Beregszászi (http://templates.m42.hu/)
 */

/*  Main layout  */
#container {
  width: 964px; /* page width, when changed, look at #sidebar-left margin */
  margin: 0 auto;
  position: relative;
  text-align: left;
}

#wrapper {
  float: left;
  width: 100%;
}

#wrapper-main {
  float: left;
  width: 100%;
}

/* conditional margins */
body.two-sidebars #main {
  margin: 0 264px 0 192px;
}

body.sidebar-right #main {
  margin: 0 264px 0 14px;
}

body.sidebar-left #main {
  margin: 0 14px 0 192px;
}

#sidebar-left {
  float: left;
  width: 192px;
  margin-left: -964px;
}

#sidebar-right {
  float: left;
  width: 264px;
  margin-left: -264px;
}

#sidebar-left,
#sidebar-right { /* min-height hack for IE6 */
  min-height: 406px;
  height: auto !important;
  height: 406px;
  margin-bottom: 2em;
  margin-top: 1px;
}

#footer {
  clear: left;
  width: 100%;
  height: 101px;
  overflow: auto;
}



/*  Containers  */
#header-inner {
  overflow: hidden;
  height: 120px;
  padding: 0px 12px;
}

#sidebar-left-inner {
  margin: 0 12px 0 22px;
}

#sidebar-right-inner {
  margin: 0 22px 0 12px;
}

#main-inner {
  margin: 0 1em 2em 1em;
  padding-top: .5em;
}



/*  Main layout colors, backgrounds  */
body {
  background-color: #efeeea;
}
#page {
  background: url('images/bodybg.png') repeat-x top center #efeeea;
}

#header {
  height: 156px;
  background: #abc8e5 url('images/headbg.png') no-repeat top left;
}
.withsecondary #header {
  height: 184px;
}

#header-inner {
  background: transparent url('images/headbgplus.jpg') no-repeat 12px 0px;
}

body #wrapper {
  background: url('images/wrapperbg-nosidebars.png') repeat-y top center;
}
  body.sidebar-left #wrapper {
    background: url('images/wrapperbg-left.png') repeat-y top center;
  }
  body.sidebar-right #wrapper {
    background: url('images/wrapperbg-right.png') repeat-y top center;
  }
  body.two-sidebars #wrapper {
    background: url('images/wrapperbg-both.png') repeat-y top center;
  }

#wrapper-main { /* min-height hack for IE6 */
  min-height: 244px;
  height: auto !important;
  height: 244px;
  background: transparent url('images/wrapper-mainbg.png') no-repeat top center;
}
  .withsecondary #wrapper-main {
    background-position: 0 -28px;
  }

#footer {
  background: #036 url(images/footerbg.png) no-repeat;
  color: #fff;
}

#sidebar-left {
  background: transparent url('images/sidebarbg-left.jpg') no-repeat 12px 0px;
}

#sidebar-right {
  background: transparent url('images/sidebarbg-right.jpg') no-repeat 0px 0px;
}



/*  Generic styles  */
/*  Fonts  */
body {
  font-size: .8em;
}

body, h1, h1 a, h2, h2 a, h3, h3 a, h4, h5, h6 {
  font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
#navigation {
  font-family: Verdana, 'Liberation Sans', Arial, Helvetica, sans-serif;
}
#search .form-text {
  font-family: 'Courier New', monospace;
}

html, body {
  margin: 0;
  padding: 0
}

body {
  text-align: center;
}

h1.title, h1.title a, h1.title a:hover {
  margin: 0;
  margin-bottom: 0;
  font-size: 220%;
  font-weight: normal;
  line-height: normal;
  color: #9f0000;
}

h1, h1 a, h1 a:hover {
  font-size: 140%;
  color: #039;
  margin:.5em 0 .5em 0;
}

h2, h2 a, h2 a:hover, .block h3, .block h3 a {
  font-size: 122%;
  color: #9f0000;
  margin: .5em 0 .25em 0;
  font-weight: bold;
}

h3 {
  font-size: 107%;
  font-weight: bold;
}

h4, h5, h6 {
  font-weight: bold;
}

p, .book .body {
  margin: 0 0 1em;
}

sup {
  font-size: 66%;
}

pre {
  background: #ddd;
  border: 1px solid #aaa;
  padding: 0.75em 1.5em;
}

blockquote {
  margin: 0.5em 1em;
  padding: 0.35em;
  border: 1px solid #cde;
  background: #f4f4ff;
}

code {
  font-size: 100%;
  font-family: Profont, 'lucida console', 'Courier New', Monaco, monospace;
}

img {
  border: 0;
}

a, a:hover {
  color: #039;
}
  a:hover {
    text-decoration: none;
  }

table {
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 100%;
  table-layout: auto;
  overflow: auto;
}

th, td {
  padding: 2px 4px;
}

thead th {
  border-bottom-color: #d0d3d6;
  padding-right: .75em;
}

tbody tr.even {
  background: #e9ecef;
}
tbody tr.odd {
  background: #dce0e3;
}

tbody tr.even td,
tbody tr.even th {
  border-top: 1px solid #fff;
}
tbody tr.odd td,
tbody tr.odd th {
  border-top: 1px solid #d0d3d6;
}

.clear {
  clear: both;
}

.zero {
  font-size: 0;
  line-height: 0;
  height: 0px;
  width: 0px;
  background: lime;
}

/*  -------------------------------------  */



/*  Header typo and styles  */
#header h1 {
  margin: 0;
  padding: 0;
}

#logo{
  position: absolute;
  top: 0px;
  z-index: 100;
}

#site-name {
  font-size: 160%;
}
  #site-name a, #site-name a:visited {
    color: #af0000;
    font-weight: bold;
  }

#name-and-slogan {
  position: absolute;
  z-index: 100;
  display: inline;
  margin: 48px 0px 10px 195px;
}

#site-slogan {
  font-size: 100%;
  font-weight: bold;
  margin-left: 2px;
}

/*  Search box  */
#search {
  position: absolute;
  overflow: hidden;
  top: 120px;
  margin-left: 12px;
  width: 140px;
  height: 36px;
  background: transparent url('images/searchbg.png') no-repeat left top;
  padding: 0px 20px 0px 14px;
}
  #search .form-item {
    margin: 0;
    padding: 0;
  }
  #search .form-text {
    padding-top: 10px;
    width: 126px;
    height: 16px;
    border: 0;
    margin: 0;
    background: transparent;
  }
  #search .form-submit {
    display: none;
  }
  #search label {
    display: none;
  }




/*  Main styles  */
#main h1, #main h2 {
  margin: .35em 0 0 0;
  padding: 0;
}

#main p {
  line-height: 1.45em;
}

#main .node .content {
  margin-top: .75em;
}

#mission {
  margin-top: .5em;
  padding: 1em;
  border: 1px solid #abc;
  background: #cdf;
}

.help {
  margin: .5em;
}



/*  Comment styles  */
#comments {
  margin: 1em 0;
  padding: 1em;
  background: #f4f4ff;
  border: 1px solid #d4e4f8;
}
#comments .indented {
  margin-left: 21px;
}
.comment {
  margin: 0;
  clear: both;
}
.comment h3 {
  margin: 0 0 .25em 0;
}
.comment h3.title a {
  font-weight: bold;
  font-size: 110%;
}
.comment .submitted {
  margin-bottom: .15em;
  color: #666;
}
.comment .content {
  border: 1px solid #d4e4f8;
  padding: .5em;
  margin: -1px;
  background: #fff;
}
.comment .content-inner {
  overflow: auto;
  width: 100%;
}
.comment .picture {
  margin: 0;
  padding: 0;
}
.comment .picture img {
  float: right;
}
.comment .new {
  float: left;
  margin: 0 4px 0 0;
  padding: 2px 4px;
  font-size: 88%;
  font-weight: bold;
  background: #af0000;
  color: #fff;
}

/*  Comment collapsed  */
.comment-folded {
  margin: 4px;
  padding: 2px 4px;
}
.comment-folded:hover {
  background: white;
}
.comment-folded .subject a {
  font-weight: bold;
}
.comment-folded .credit {
  font-size: 88%;
}

.comment div.links {
  margin: 2px;
}
.comment .links li.first {
  margin: 0;
  padding: 0;
}
.comment .links li {
  border: 0;
  margin: 0;
  padding: 0;
}
.comment .links a {
  font-size: 90%;
  font-weight: bold;
  margin: 1px;
  padding: 2px 6px 4px 6px;
}
.comment .links a, .comment .links a:visited {
  text-decoration: none;
  background: transparent;
  border: 1px solid #f4f4ff;
  border-top: 1px solid #d4e4f8;
  border-bottom: 1px solid #d4e4f8;
}
.comment .links a:hover {
  text-decoration: none;
  color: #ae0000;
  background: white;
  border: 1px solid #d4e4f8;
}

/*  Comment controls styles  */
#comments h2.title {
  margin-bottom: .25em;
  font-size: 115%;
}
#comments .box {
  margin: .5em 0;
  padding: .75em;
  background: #ececff;
  border: 1px solid #d4e4f8;
}
#comments .box .form-select,
#comments .box .form-submit {
  font-size: 88%;
}
#comments .description {
  margin: .25em 0 0 0;
  font-size: 92%;
}

/*  Comment block styles  */
.block-comment .item-list li {
  font-size: 88%;
}
.block-comment .item-list li a {
  font-size: 114%;
}


/*  Footer styles  */
#footer-inner {
  padding: 32px 28px 22px 28px;
  font-size: 92%;
}
#footer-inner p {
  margin: 0;
  padding: 5px 10px;
}
#footer-inner a, #footer-inner a:visited {
  color: #ffa;
}


/*  Block menu typo and styles  */
ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ul li {
  margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.3em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.png) no-repeat 0 .35em;
}

ul li.expanded {
  background: transparent url(images/menu-expanded.png) no-repeat 0 .35em;
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.png) no-repeat 0 .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}



/*  .links styles  */
div.links {
  font-size: 92%;
  margin: 1em;
}

ul.links {
  text-align: right;
}

ul.links li {
  border-left: 1px solid #9cf;
  background: transparent;
}

.taxonomy {
  margin: 0;
  padding: 0;
  display: inline;
}

.taxonomy ul.links li {
  border: 0;
  padding: 0 0.1em 0 .2em;
}

.taxonomy ul.links li:after {
  content: ",";
}

.taxonomy ul.links li.last:after {
  content: "";
}

ul.links li.first {
  padding-left:0;
  border: none;
}

.links {
  color: #999;
}
.links a {
  padding: 0 0 0 .75em;
}

.submitted, .taxonomy {
  font-size: 88%;
  color: #456;
}




/*  Navigation typo and styles  */
#navigation {
  overflow: hidden;
  height: 36px;
  margin: 0;
  background: #036 url('images/menubg.png') no-repeat;
  text-align: left;
}
.withsecondary #navigation {
  height: 64px;
}

#primary, #secondary {
  margin: 0;
  padding: 0 20px 0 200px;
  border: 0;
  font-weight: normal;
  font-size: 92%;
  line-height: normal;
}
#primary {
  height: 36px;
  overflow: hidden;
}
#secondary {
  height: 26px;
  overflow: hidden;
}
#primary ul {
  margin: 0;
  padding: 5px 15px 0 0;
  list-style: none;
}

#primary li, #secondary li {
  display: inline;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

#primary a, #secondary a {
  display: block;
  float: left;
  margin: 0px 2px 0px 0px;
  border-style: solid;
  font-weight: bold;
}

#primary a {
  padding: 7px;
  color: #fff;
  text-decoration: none;
  border-color: #036;
  border-width: 0 0 3px 0;
}

#primary a:hover {
  color: #fff;
  border-color: #d6e5f5;
  text-decoration: none;
}

#primary li.active a {
  color: #d6e5f5;
  border-color: #d6e5f5;
  text-decoration: none;
}

#secondary {
  height: 28px;
  background: url('images/menubg-secondary.png') no-repeat;
  font-size: 88%;
}
#secondary ul {
  margin: 0;
  padding: 5px 15px 0 0;
  list-style: none;
}
#secondary a {
  padding: 2px 7px 5px;
  color: #036;
  text-decoration: none;
  border: 0;
}
#secondary a:hover, #secondary li.active a {
  color: #000;
  border-bottom: 2px solid #d6e5f5;
  text-decoration: none;
}



/*  Local tasks (tabs) typo and styles  */
div.tabs {
  width: 99%;
  border-bottom: 1px solid #BCD2E6;
  margin: .5em 0em 0.2em 0em;
}

div.tabs ul.primary {
  margin: 0;
  padding: 0px 10px 0 10px;
  list-style: none;
  border: 0;
  font-size: 88%;
}
div.tabs ul.primary li {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}
div.tabs ul.primary li a {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0 0 4px;
  border: 0;
  background: transparent url("images/tabs.png") no-repeat left top;
  text-decoration: none;
}
div.tabs ul.primary li a span {
  display: block;
  background: transparent url("images/tabs.png") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #039;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.tabs ul.primary li a span { float: none; }
/* End IE5-Mac hack */

div.tabs ul.primary li a:hover span {
  color: #006;
}
div.tabs ul.primary li a:hover {
  background-color: transparent;
  background-position: 0% -50px;
}
div.tabs ul.primary li a:hover span {
  background-position: 100% -50px;
}
div.tabs ul.primary li.active a {
  background-color: transparent;
  background-position: 0% -100px;
}
div.tabs ul.primary li.active a span {
  background-position: 100% -100px;
  font-weight: bold;
}
  div.tabs ul.primary li.active a:hover {
  background-color: transparent;
    background-position: 0% -150px;
  }
  div.tabs ul.primary li.active a:hover span {
    background-position: 100% -150px;
    font-weight: bold;
  }


div.tabs ul.secondary {
  clear: both;
  margin: 8px 0 0;
  padding: 0px 10px 0 10px;
  list-style: none;
  border: 0;
  font-size: 82%;
}
div.tabs ul.secondary li {
  display: inline;
  margin: 0;
  padding: 0;
  border: 0;
}
div.tabs ul.secondary li a {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 0 0 4px;
  border: 0;
  background: transparent url("images/tabs.png") no-repeat left top;
  text-decoration: none;
}
div.tabs ul.secondary li a span {
  display: block;
  background: transparent url("images/tabs.png") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #039;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.tabs ul.secondary li a span { float: none; }
/* End IE5-Mac hack */

div.tabs ul.secondary li a:hover span {
  color: #006;
}
div.tabs ul.secondary li a:hover {
  background-color: transparent;
  background-position: 0% -50px;
}
div.tabs ul.secondary li a:hover span {
  background-position: 100% -50px;
}
div.tabs ul.secondary li.active a {
  background-color: transparent;
  background-position: 0% -100px;
}
div.tabs ul.secondary li.active a span {
  background-position: 100% -100px;
  font-weight: bold;
}
  div.tabs ul.secondary li.active a:hover {
  background-color: transparent;
    background-position: 0% -150px;
  }
  div.tabs ul.secondary li.active a:hover span {
    background-position: 100% -150px;
    font-weight: bold;
  }



/*  Form overrides  */
html.js fieldset.collapsible .fieldset-wrapper {
  width: 100%; /* fix ie6 overflow issue */
}
html.js fieldset.collapsible legend a,
html.js fieldset.collapsible legend a:visited {
  color: #03c;
  font-weight: bold;
}

/*  Autocomplete overrides  */
#autocomplete li {
  margin: 0;
  padding: 2px;
}
#autocomplete li.selected {
  background: #039;
  color: #ffc;
}

.form-item {
  margin: .5em 0;
}



/*  User profile page styles  */
.profile {
  margin: 0;
  padding: 1em;
  background: #f4f4ff;
  border: 1px solid #d4e4f8;
}
.profile .picture {
  margin: 0 0 1em 1em;
}
.profile dl {
  margin: 0.4em 0 1.5em 0;
}
.profile dt {
  margin: .25em 0pt 0.2em;
}
.profile dd {
  margin: 0 0 0.5em 0;
}



/*  Tracker styles  */
#tracker table {
  margin-top: 1em;
}

#tracker td {
  padding: 4px;
  font-size: 92%;
}



/*  Forum styles  */
#forum table {
  width: 100%;
}
#forum .name {
  font-weight: bold;
  margin: .2em;
}



/* Pager styles */
.pager {
  text-align:center;
  margin-top: 2em;
}
.pager a {
  font-size: 88%;
}
.pager a, .pager a:visited {
  text-decoration: none;
}
.pager a, .pager-current {
  padding: 4px 8px;
  margin: 0 2px;
  color: #039;
  font-weight: bold;
  border: solid 1px #def;
  background: #efefff;
}
  .pager a:hover {
    text-decoration: underline;
    background: #dfdfff;
  }
.pager-current {
  color: #fff;
  background-color: #036;
}



/*  Block styles  */
.sidebar .block {
  padding: 0.25em 0;
}

/*  user login block  */
#user-login-form .item-list {
  text-align: left;
}



/*  Poll styles  */
.poll .text {
  font-weight: bold;
}
.poll .bar {
  padding: 3px;
}
.poll .bar .foreground {
  background: #036;
}
.poll .percent {
  font-size: 88%;
  font-style: italic;
}


#header-region {
  float: right;
  width: 50%;
  height: 120px;
  overflow: hidden;
}




/*  Alerts, Status, Help Messages  */
.messages {
  min-height: 32px;
  padding: 1.3em 1em .3em 52px;
  border: 1px solid #999;
  background: #eee;
  margin: 10px 0;
}

div.error {
  border: 2px solid #F00;
}

.messages ul {
  padding: 0 0 0 20px;
  margin: 0;
}



/*  Administration styles  */
.admin-panel, .admin-list {
  margin: 0;
  padding: 0;
}

div.admin .left,
div.admin .right {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

.admin-panel .body {
  background-color: #eee;
  border: solid #666 1px;
}

.admin-panel .body dl, .admin-panel .body p {
  padding: 4px;
}

.admin-panel h3 {
  margin-bottom: 0;
  padding:5px 5px 5px 10px;
  font-size: 115%;
  border-width: 0px 2px 2px 2px;
}

.admin-panel dt a {
  font-weight: bold;
}

.admin-panel dd {
  margin-left: 1.8em;
}

/*  Status report colors  */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

/*  Watchdog colors  */
tr.watchdog-warning, tr.watchdog-notice, tr.watchdog-error, .watchdog-event {
  line-height: 1.2em;
  font-size: 88%;
  border-bottom: 1px solid #999;
}
tr.watchdog-user {
  background: #ffd !important;
}
tr.watchdog-user .active {
  background: #eed !important;
}
tr.watchdog-content {
  background: #ddf !important;
}
tr.watchdog-content .active {
  background: #cce !important;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #dfd !important;
}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {
  background: #cec !important;
}
tr.watchdog-error {
  background: #ffc9c9 !important;
}
tr.watchdog-error .active {
  background: #eeb9b9 !important;
}

/* Module list */
table.package {
  width: 99%;
  font-size: 11px;
}

/*  Themes styles  */
#system-themes-form {
  overflow: auto;
  width: 100%;
  padding-bottom: 2em;
}
#system-themes-form table {
  width: 99%;
  font-size: 84%;
}
#system-themes-form th {
  padding: 2px;
}



/*  Admin extra  */
/*  update status  */
table.update-status {
  font-size: 84%;
}

body.admin-menu {
  background-position: 0 20px;
}
